* {
    position: relative;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(81, 58, 36, 100);
    height: 340px;
    transition: all 1s;
    z-index: 1;    
    &.stick-to-top {
        top: 0;
        transform: translateY(0);
    }

    &.enlarge-side-nav{
        height: 100%;
        width: 15%;
    }
}

.side-nav__item {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    width: 115px; // border: 1px solid #000;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 20px;
    line-height: 20px;
}

.side-nav__item span {
    position: absolute;
    text-align: left;
    left: 15px;
    letter-spacing: 2.5px;
}

.side-nav > li > a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    transition: all 0.3s;
    height: 0%;
    width: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.side-nav .active a:after {
    height: 40px;
}

.side-nav__social-bar {
    margin-top: 15px;
    margin-left: 12px;
}

.side-nav__social-bar .icon-btn {
    color: #fff;
    display: inline-block;
    width: 25px;
    height: 32px;
    line-height: 32px;
    font-size: 26px;
    margin: 2px;
    margin-top: 10px;

}

.decoration1 {
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #fff;
    left: 32px;
    top: -5px;
}

.decoration2 {
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #fff;
    left: 32px;
    top: 0;
}

.fp-controlArrow.fp-next {
    position: absolute;
    right: 0;
    height: 80px;
    width: 110px;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-width: 0;
    &.remove-next {
        height: 0;
        width: 0;
        &.change-next {
            position: absolute;
            top: 415px;
            right: 15px;
            height: 53px;
            width: 83px;
            background-image: url(../images/next2.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.fp-controlArrow.fp-prev {
    position: absolute;
    left: 10px;
    height: 53px;
    width: 83px;
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-width: 0;
    &.remove-back {
        height: 0;
        width: 0;
    }
    &.change-back{
        background-image: url(../images/back2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 53px;
        width: 83px;
        z-index: 100;
    }
}

// -------------------------------
$c-white: #fff;
$c-brown: rgba(81, 58, 36, 100);
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    font-size: 16px;
}

.wrapper {
    position: relative;
}

.page {
    width: 100%;
    min-height: 100vh;
    position: relative;
    &.first {
        background-image: url(../images/sakehero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.8;
    }
    &.second {
        background-image: url(../images/Group3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &.third {
        background-image: url(../images/Rectangle16Copy.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &.fourth {
        background-image: url(../images/Sakeboom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}



.first.page .inner {
    $gap: 0.5rem;
    position: absolute;
    top: $gap;
    right: $gap;
    bottom: $gap;
    left: $gap;
    border: 1px solid $c-white;
    >.logo {
        position: fixed;
        top: 25px;
        left: 25px;
        height: 60px;
        width: 65px;
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    >.content {
        position: absolute;
        top: 40%;
        left: 50%;
        height: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../images/Group.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    >.title {
        position: absolute;
        left: 50%;
        top: 70%;
        height: 5%;
        width: 55%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        text-align: center;
        color: $c-white;
    }
}



.second.page .inner {
    %title-basic-style {
        position: absolute;
        top: 4%;
        left: 12.5%;
        font-size: 3.5rem;
        color: $c-white;
        font-weight: normal;
    }
    %subtitle-basic-style {
        position: absolute;
        color: $c-white;
        left: 12.5%;
        top: 15%;
        font-size: 1.3rem;
        font-weight: 300;               
    }
    [data-anchor="slide1"] {
        .title {
            @extend %title-basic-style;
        }
        .subtitle {
            @extend %subtitle-basic-style;
        }
    }
    [data-anchor="slide2"] {
        background-color: $c-white;
        height: 100%;
        .title {
            @extend %title-basic-style;
            color: $c-brown;
            text-shadow: none;
            top: 2.5%;
            margin: 0;
        }
        .subtitle {
            @extend %subtitle-basic-style;
            color: $c-brown;
            top: 13%;
            line-height: 35px;
            font-size: 1.8rem;
            font-weight: 400;
        }
        .content {
            position: absolute;
            left: 12.5%;
            top: 25%;
            font-size: 1.2rem;
            color: $c-brown;
            line-height: 25px;
            width: 28%;
            font-weight: 300;
            letter-spacing: 3px;
        }
        .img-box {
            position: absolute;
            top: 15%;
            left: 38%;
            width: 60%;
            height: 70%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url(../images/Rectangle16.png);
        }
    }
    .decoration-container {
        position: absolute;
        top: 10.5%;
        left: 24%;
        height: 40px;
        width: 40px;
        background-color: rgba(250, 247, 245, 100);
    }
    .decoration-box {
        display: block;
        height: 1px;
        width: 20px;
        background-color: $c-brown;
        &.upper {
            transform: translateY(-50%) rotate(47.5deg);
            position: absolute;
            top: 12px;
            left: 30%;
        }
        &.lower {
            transform: translateY(-50%) rotate(-47.5deg);
            position: absolute;
            top: 26px;
            left: 30%;
        }
    }
}



.third.page .inner {
    %title-basic-style {
        position: absolute;
        top: 4%;
        left: 12.5%;
        font-size: 3.5rem;
        color: $c-white;
        font-weight: normal;
        text-shadow: 0 0 20px rgba(0,0,0,0.5);
    }
    %subtitle-basic-style{
        position: absolute;
        color: $c-white;
        left: 12.5%;
        top: 15%;
        font-size: 1.3rem;
        text-shadow: 0 0 20px rgba(0,0,0,0.5);
        font-weight: 300;       
    }
    [data-anchor="slide1"] {
        .title {
            @extend %title-basic-style;
        }
        .subtitle {
            @extend %subtitle-basic-style;
        }
    }
    [data-anchor="slide2"] {
        .subtitle {
            @extend %subtitle-second-style;
        }
        .content {
            @extend %content-basic-style;
        }
        .img-box {
            @extend %img-box-basic-style;
        }
        .readmore {
            @extend %readmore-basic-style;
        }
        .decoration {
            @extend %decoration-basic-style;
        }
        .date {
            @extend %date-basic-style;
        }
        background-color: $c-white;
        height: 100%;

        .title {
            @extend %title-basic-style;
            color: $c-brown;
            text-shadow: none;
            top: 0; 
        }
        %subtitle-second-style {
            @extend %subtitle-basic-style;
            color: $c-brown;
            top: 18%;
            font-size: 1.5rem;
            text-shadow: none;
            font-weight: 400;
        }
        .subtitle-2 {
            @extend %subtitle-basic-style;
            @extend %subtitle-second-style;
            left: 53%;
        }
        %content-basic-style {
            text-shadow: none;
            letter-spacing: 1px;
            font-weight: 300;
            font-size: 1.2rem;
            color: $c-brown;
            line-height: 25px;
            width: 540px;
            position: absolute;
            left: 12.5%;
            top: 23%;
        }
        .content-2 {
            @extend %content-basic-style;
            left: 53%;
        }
        %img-box-basic-style {
            background-image: url(../images/Rectangle16Copy4.png);
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 45%;
            width: 38%;
            left: 12.5%;
            top: 43%;
        }
        .img-box-2 {
            @extend  %img-box-basic-style;
            background-image: url(../images/Rectangle16Copy5.png);
            left: 53%;
            top: 43%;     
        }
        %readmore-basic-style {
            position: absolute;
            top: 37%;
            left: 43%;
            color: $c-brown;
            height: 3%;
            width: 7%; 
            font-size: 1.3rem;
            text-align: center;
        }
        .readmore-2 {
            @extend %readmore-basic-style;
            left: 83.5%;
        }
        %decoration-basic-style {
            position: absolute;
            height: 0.2%;
            width: 38%;
            background-color: rgba(237,219,206,100);
            top: 40.5%;
            left: 12.5%;
        }
        .decoration-2 {
            @extend %decoration-basic-style;
            left: 53%;
        }
        %date-basic-style {
            position: absolute;
            left: 12.5%;
            top: 16.5%;
            color: $c-brown;
            line-height: 30px;
            font-size: 1rem;
            font-weight: 300;
        }
        .date-2{
            @extend %date-basic-style;
            left: 53%;
        }
    }
    [data-anchor="slide3"] {
        background-color: $c-white;
        height: 100%;

        .title {
            position: absolute;
            top: 2.5%;
            left: 14%;
            font-size: 3.5rem;
            font-weight: normal;
            color: $c-brown;
            margin: 0;
        }
        .subtitle {
            position: absolute;
            left: 14%;
            top: 13%;
            color: $c-brown;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 4px;
        }
        .content {
            position: absolute;
            left: 14%;
            top: 23%;
            font-size: 1.2rem;
            color: $c-brown;
            line-height: 25px;
            width: 22%;
            font-weight: 300;
            letter-spacing: 4px; 
        }
        .img-box{
            position: absolute;
            top: 15%;
            left: 35%;
            width: 60%;
            height: 70%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url(../images/page3-3.png);
        }
        .date {
            position: absolute;
            left: 14%;
            top: 11.5%;
            color: $c-brown;
            line-height: 30px;
            font-size: 1rem;
            font-weight: 300;
        }
    }
    .decoration-container {
        position: absolute;
        top: 10.5%;
        left: 24%;
        height: 40px;
        width: 40px;
        background-color: rgba(250, 247, 245, 100);
    }
    .decoration-box {
        display: block;
        height: 1px;
        width: 20px;
        background-color: $c-brown;
        &.upper {
            transform: translateY(-50%) rotate(47.5deg);
            position: absolute;
            top: 12px;
            left: 30%;
        }
        &.lower {
            transform: translateY(-50%) rotate(-47.5deg);
            position: absolute;
            top: 26px;
            left: 30%;
        }
    }    
}



.fourth.page .inner{
    .title {
        position: absolute;
        top: 4%;
        left: 12.5%;
        font-size: 3.5rem;
        color: $c-white;
        font-weight: normal;
        text-shadow: 0 0 20px rgba(0,0,0,0.5);
    }
    .subtitle {
        position: absolute;
        color: $c-white;
        left: 12.5%;
        top: 15%;
        font-size: 1.3rem;
        text-shadow: 0 0 20px rgba(0,0,0,0.5);
        font-weight: 300;
    }
    [data-anchor="slide2"] {
        .img-box-1 {
            @extend %img-box-1-basic-style;
        }
        %img-box-1-basic-style {
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url(../images/page4-2-1.png);
            height: 100%;
            width: 21.5%;
            top: 0;
            left: 15%;
        }
        .img-box-2 {
            @extend %img-box-1-basic-style;            
            background-image: url(../images/page4-2-2.png);            
            left: 36.5%;

            &::after {
            content: "";
            background-image: url(../images/page4-2-2after.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            position: absolute;
            top: 0;
            left: 0;
            }
        }
        .img-box-3 {
            @extend %img-box-1-basic-style;            
            background-image: url(../images/page4-2-3.png);            
            left: 57.9%;
        }
        .img-box-4 {
            @extend %img-box-1-basic-style;            
            background-image: url(../images/page4-2-4.png);            
            left: 78.5%;
        }  
    }
    [data-anchor="slide3"] {
        background-color: $c-white;
        height: 100%;
        .subtitle {
            @extend %subtitle-basic-style;
        }
        .content {
            @extend %content-basic-style;
        }
        .decoration {
            @extend %decoration-basic-style;
        }
        .title {
            position: absolute;
            width: 20%;
            top: 2.5%;
            left: 14%;
            font-size: 3rem;
            font-weight: normal;
            color: $c-brown;
            margin: 0;
            text-shadow: none;
                .title-2{
                    font-size: 1.5rem;
                    margin-left: 10%;
                    font-weight: 300;
                }
        }
        %subtitle-basic-style {
            position: absolute;
            left: 14%;
            top: 12%;
            color: $c-brown;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 4px;
            text-shadow: none;
        }
        .subtitle-2 {
            @extend %subtitle-basic-style;
            top: 37%;
        }
        .subtitle-3 {
            @extend %subtitle-basic-style;
            top: 62%;
        }
        %content-basic-style {
            position: absolute;
            left: 14%;
            top: 19%;
            font-size: 1.2rem;
            color: $c-brown;
            line-height: 25px;
            width: 22%;
            font-weight: 300;
            letter-spacing: 4px;
        }
        .content-2 {
            @extend %content-basic-style;
            top: 44%;
        }
        .content-3 {
            @extend %content-basic-style;
            top: 69%;
        }
        %decoration-basic-style {
            position: absolute;
            height: 0.2%;
            width: 25%;
            background-color: rgba(237,219,206,100);
            top: 36.5%;
            left: 14%;
        }
        .decoration-2 {
            @extend %decoration-basic-style;
            top: 62%;
        }
        .decoration-3 {
            @extend %decoration-basic-style;
            top: 87.2%;
        }
        .img-box {
            height: 74%;
            width: 52%;
            position: relative;
            left: 39%;
            top: 0;
            .img-box-1 {
                @extend %img-box-1-basic-style
            }
            %img-box-1-basic-style {
                background-image: url(../images/page4-3-1.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: absolute;
                top: 0;
                left: 0;
                height: 32%;
                width: 100%;
            }
            .img-box-2 {
                @extend %img-box-1-basic-style;
                background-image: url(../images/page4-3-2.png);
                top:32%;
                height: 34.5%;

                .subtitle{
                    font-size: 2.5rem;
                    color: $c-white;
                    z-index: 1;
                    position: absolute;
                    top: 40%;
                    left: 40%;
                    margin: 0;
                }
                
                &::after{
                    content: "";
                    background-color: $c-brown;
                    width: 100%;
                    height: 100%;
                    opacity: 0.6;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .img-box-3 {
                @extend %img-box-1-basic-style;
                background-image: url(../images/page4-3-3.png);
                top: 66.5%;
                height: 34%;
            }
        }
    }
    [data-anchor="slide4"] {
        background-color: $c-white;
        height: 100%;
        .title{
            position: absolute;
            width: 20%;
            top: 2.5%;
            left: 14%;
            font-size: 3rem;
            font-weight: normal;
            color: $c-brown;
            margin: 0;
            text-shadow: none;
        }
        .subtitle {
            position: absolute;
            left: 20%;
            top: 12%;
            color: $c-brown;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 4px;
            text-shadow: none;
        }
        .content {
            position: absolute;
            left: 20%;
            top: 19%;
            font-size: 1.2rem;
            color: $c-brown;
            line-height: 25px;
            width: 40%;
            font-weight: 300;
            letter-spacing: 4px;
        }
        .logo {
            background-image: url(../images/page4-4logo.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            top: 14%;
            left: 10%;
            height: 20%;
            width: 10%;
        }
        .img-box {
            background-image: url(../images/page4-4-1.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            top: 10%;
            left: 60%;
            height: 35%;
            width: 30%;
        }
        .decoration {
            position: absolute;
            height: 0.2%;
            width: 77%;
            background-color: rgba(237,219,206,100);
            top: 50%;
            left: 13%;
        }
    }
    
    
    .decoration-container {
        position: absolute;
        top: 10.5%;
        left: 28%;
        height: 40px;
        width: 40px;
        background-color: rgba(250, 247, 245, 100);
    }
    .decoration-box {
        display: block;
        height: 1px;
        width: 20px;
        background-color: $c-brown;
        &.upper {
            transform: translateY(-50%) rotate(47.5deg);
            position: absolute;
            top: 12px;
            left: 30%;
        }
        &.lower {
            transform: translateY(-50%) rotate(-47.5deg);
            position: absolute;
            top: 26px;
            left: 30%;
        }
    }    
}
    
