* {
    position: relative;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(81, 58, 36, 100);
    height: 340px;
    transition: all 1s;
    z-index: 1;    
    &.stick-to-top {
        top: 0;
        transform: translateY(0);
    }
}

.side-nav__item {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    width: 115px; // border: 1px solid #000;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 20px;
    line-height: 20px;
}

.side-nav__item span {
    position: absolute;
    text-align: left;
    left: 15px;
    letter-spacing: 2.5px;
}

.side-nav > li > a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    transition: all 0.3s;
    height: 0%;
    width: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.side-nav .active a:after {
    height: 40px;
}

.side-nav__social-bar {
    margin-top: 15px;
    margin-left: 12px;
}

.side-nav__social-bar .icon-btn {
    color: #fff;
    display: inline-block;
    width: 25px;
    height: 32px;
    line-height: 32px;
    font-size: 26px;
    margin: 2px;
    margin-top: 10px;

}

.decoration1 {
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #fff;
    left: 32px;
    top: -5px;
}

.decoration2 {
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #fff;
    left: 32px;
    top: 0;
}

.fp-controlArrow.fp-next {
    position: absolute;
    right: 0;
    height: 80px;
    width: 110px;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-width: 0;
    &.remove-next {
        height: 0;
        width: 0;
        &.change-next {
            position: absolute;
            right: 15px;
            height: 53px;
            width: 83px;
            background-image: url(../images/next2.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

.fp-controlArrow.fp-prev {
    position: absolute;
    left: 10px;
    height: 53px;
    width: 83px;
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-width: 0;
    &.remove-back {
        height: 0;
        width: 0;
    }
    &.change-back{
        background-image: url(../images/back2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 53px;
        width: 83px;
        z-index: 100;
    }
}

// -------------------------------
$c-white: #fff;
$c-brown: rgba(81, 58, 36, 100);
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    font-size: 16px;
}

.wrapper {
    position: relative;
}

.page {
    width: 100%;
    min-height: 100vh;
    position: relative;
    &.first {
        background-image: url(../images/sakehero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.8;
    }
    &.second {
        background-image: url(../images/Group3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &.third {
        background-image: url(../images/Rectangle16Copy.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &.fourth {
        background-image: url(../images/Sakeboom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}



.first.page .inner {
    $gap: 0.5rem;
    position: absolute;
    top: $gap;
    right: $gap;
    bottom: $gap;
    left: $gap;
    border: 1px solid $c-white;
    >.logo {
        position: fixed;
        top: 25px;
        left: 25px;
        height: 60px;
        width: 65px;
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    >.content {
        position: absolute;
        top: 40%;
        left: 50%;
        height: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../images/Group.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    >.title {
        position: absolute;
        left: 50%;
        top: 70%;
        height: 5%;
        width: 55%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        text-align: center;
        color: $c-white;
    }
}



.second.page .inner {
    [data-anchor="slide1"] {
        .fp-tableCell {
            vertical-align: top;
        }
        .container {
            padding-left: 11%;
            .title {
                font-size: 3.5rem;
                color: $c-white;
                font-weight: normal;
                text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                display: inline-block;
                margin-bottom: 0;
            }
            .subtitle {
                color: $c-white;
                font-size: 1.3rem;
                text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                font-weight: 300;
            }
            .decoration-container {
                height: 40px;
                width: 40px;
                background-color: rgba(250, 247, 245, 100);
                display: inline-block;
                margin-left: 1%;
            }
            .decoration-box {
                display: block;
                height: 1px;
                width: 20px;
                background-color: $c-brown;
                &.upper {
                    transform: translateY(-50%) rotate(47.5deg);
                    position: absolute;
                    top: 12px;
                    left: 30%;
                }
                &.lower {
                    transform: translateY(-50%) rotate(-47.5deg);
                    position: absolute;
                    top: 26px;
                    left: 30%;
                }
            }
        }
    }
    [data-anchor="slide2"] {
        background-color: $c-white;
        height: 100%;
        .fp-tableCell {
            vertical-align: top;
        }
        .title {
            color: $c-brown;
            text-shadow: none;
            top: 2.5%;
            margin: 0;
            padding-left: 13%;
            font-weight: 500;
            font-size: 3rem;
        }
        .about-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2%;

            .column {
                min-height: 75vh;
                // border: 1px solid #000;

                &.left {
                    flex-basis: 34%;
                    .title {
                        padding-left: 0;
                        font-size: 1.5rem;
                        line-height: 30px;
                        padding-top: 5%;
                    }
                    .content {
                        color: $c-brown;
                        font-size: 1.1rem;
                        width: 78%;
                        line-height: 25px;
                        letter-spacing: 2px;   
                    }
                }
                &.right {
                    flex-basis: 40%;
                    .img-box {
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        background-image: url(../images/Rectangle16.png);
                        height: 600px;
                    }
                }
            }
        }
    }
}

.third.page .inner {
    [data-anchor="slide1"] {
        .fp-tableCell {
            vertical-align: top;
        }
        .container {
            padding-left: 11%;
            .title {
                font-size: 3.5rem;
                color: $c-white;
                font-weight: normal;
                text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                display: inline-block;
                margin-bottom: 0;
            }
            .subtitle {
                color: $c-white;
                font-size: 1.3rem;
                text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                font-weight: 300;
            }
            .decoration-container {
                height: 40px;
                width: 40px;
                background-color: rgba(250, 247, 245, 100);
                display: inline-block;
                margin-left: 1%;
            }
            .decoration-box {
                display: block;
                height: 1px;
                width: 20px;
                background-color: $c-brown;
                &.upper {
                    transform: translateY(-50%) rotate(47.5deg);
                    position: absolute;
                    top: 12px;
                    left: 30%;
                }
                &.lower {
                    transform: translateY(-50%) rotate(-47.5deg);
                    position: absolute;
                    top: 26px;
                    left: 30%;
                }
            }
        }
    }
    [data-anchor="slide2"] {
        background-color: $c-white;
        height: 100%;
        .title {
            font-weight: normal;            
            font-size: 3.5rem;
            color: $c-brown;
            display: inline-block;
            margin: 0 11% 0;
        }
        .news-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            margin-bottom: 4%;
            .column {
                flex-basis: 40%;
                min-height: 75vh;
                padding: 20px;
                // border: 1px solid #000;
                &.left {
                    background-color: $c-white;
                }
                &.right {
                    background-color: $c-white;
                }
                .basic-info {
                    display: block;
                    .date {
                        color: $c-brown;
                        line-height: 30px;
                        font-size: 1rem;
                        font-weight: 300;
                        display: block;
                        padding: 5px;
                    }
                    .title {
                        color: $c-brown;
                        font-size: 1.5rem;
                        text-shadow: none;
                        font-weight: 400;
                        margin: 0;
                        display: block;
                        padding: 5px;
                    }
                }
                .content {
                    text-shadow: none;
                    letter-spacing: 1px;
                    font-weight: 300;
                    font-size: 1.2rem;
                    color: $c-brown;
                    line-height: 25px;
                    width: 540px;
                    margin: 0.5rem 0 0.5rem;
                }
                .readmore {
                    color: $c-brown;
                    height: 3%;
                    width: 100%;
                    font-size: 1rem;
                    padding-bottom: 0.5rem;
                    border-bottom: 1px solid $c-brown;
                    text-align: right;
                }
                .img-box {
                    // border: 1px solid red;
                    width: 100%;
                    padding-top: 70%;
                    margin-top: 5%;
                    .img-box-inner {
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
    [data-anchor="slide3"] {
        background-color: $c-white;
        height: 100%;
        .fp-tableCell {
            vertical-align: top;
        }

        .title {
            color: $c-brown;
            text-shadow: none;
            top: 2.5%;
            margin: 0;
            padding-left: 13%;
            font-weight: 500;
            font-size: 3rem;
        }

        .news-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2%;
            .column {
                min-height: 75vh; // border: 1px solid #000;
                &.left {
                    flex-basis: 34%;
                    padding-top: 2%;
                    .date {
                        font-weight: 300;
                        color: $c-brown;
                    }
                    .title {
                        padding-left: 0;
                        font-size: 1.5rem;
                        line-height: 30px;
                        padding-top: 2%;
                    }
                    .content {
                        color: $c-brown;
                        font-size: 1.1rem;
                        width: 55%;
                        line-height: 25px;
                        letter-spacing: 2px;
                    }
                }
                &.right {
                    flex-basis: 40%;
                    .img-box {
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        background-image: url(../images/page3-3.png);
                        height: 600px;
                    }
                }
            }
        }
    }
}

.fourth.page .inner{
    [data-anchor="slide1"]{
    .fp-tableCell {
        vertical-align: top;
    }
    .container {
        padding-left: 11%;
        .title {
            font-size: 3.5rem;
            color: $c-white;
            font-weight: normal;
            text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            display: inline-block;
            margin-bottom: 0;
        }
        .subtitle {
            color: $c-white;
            font-size: 1.3rem;
            text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            font-weight: 300;
        }
        .decoration-container {
            height: 40px;
            width: 40px;
            background-color: rgba(250, 247, 245, 100);
            display: inline-block;
            margin-left: 1%;
        }
        .decoration-box {
            display: block;
            height: 1px;
            width: 20px;
            background-color: $c-brown;
            &.upper {
                transform: translateY(-50%) rotate(47.5deg);
                position: absolute;
                top: 12px;
                left: 30%;
            }
            &.lower {
                transform: translateY(-50%) rotate(-47.5deg);
                position: absolute;
                top: 26px;
                left: 30%;
            }
        }
    }
}
    
    [data-anchor="slide2"] {
        .columns-wrapper {
            width: 100%;
            height: 100vh;
        }
        .column {
            height: 100%;
            width: percentage(3/14);
            float: left;

            &.bg {
                background-color: $c-brown;
                width: percentage(1/7);
            }
            &.first {
                background-color: green;
                background-image: url(../images/page4-2-1.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            &.second {
                background-image: url(../images/page4-2-2.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                
                .inner {
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: all 0.3s;
                    .title {
                        text-align: center;
                        margin-top: 40%;
                        font-size: 3.5rem;
                        color: $c-white;
                        padding: 50% 0;
                        margin: 0;
                    }
                    .content {
                        color: $c-white;
                        line-height: 25px;
                        letter-spacing: 1.5px;
                        padding: 20px;
                    }
                    &:hover {
                        opacity: 0.6;
                        background-color: $c-brown;
                    }
                }
            }
            &.third {
                background-image: url(../images/page4-2-3.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            &.fourth {
                background-image: url(../images/page4-2-4.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }

    [data-anchor="slide3"] {
        background-color: $c-white;
        height: 100%;
        .basic-info {
            margin-top: -4%;
            .title {
                padding-left: 12%;
                color: $c-brown;
                font-size: 3rem;
                font-weight: 400;
                margin-top: -4%;
                display: inline-block;
            }
            .subtitle {
                display: inline-block;
                font-weight: 400;
                color: $c-brown;
                padding-left: 2%;
            }
        }
        .product-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .column {
                min-height: 25vh;
                &.left {
                    background-color: $c-white;
                    flex-basis: 20%;
                    border-bottom: 1px solid $c-brown;
                    .subtitle {
                        color: $c-brown;
                        font-size: 1.5rem;
                        font-weight: 400;
                        letter-spacing: 4px;
                        text-shadow: none;
                        margin: 20px 0 20px 0;
                        width: 86%;
                    }
                    .content {
                        font-size: 1rem;
                        color: $c-brown;
                        line-height: 25px;
                        font-weight: 300;
                        letter-spacing: 2px;
                        width: 90%;
                        margin: 5px 0 5px 0;
                    }
                }
                &.right {
                    background-color: $c-white;
                    flex-basis: 55%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    &.first {
                        background-image: url(../images/page4-3-1.png);
                        position: relative;
                    }
                    &.second {
                        background-image: url(../images/page4-3-2.png);
                    }
                    &.third {
                        background-image: url(../images/page4-3-3.png);
                    }
                    .inner {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        transition: all 0.3s;
                        .title {
                            text-align: center;
                            font-size: 3.5rem;
                            color: $c-white;
                            margin: 9% 0;
                        }
                        &:hover {
                            opacity: 0.6;
                            background-color: $c-brown;
                        }
                    }
                }
            }
        }    
    }

    [data-anchor="slide4"] {
        background-color: $c-white;
        height: 100%;
        .fp-tableCell {
            vertical-align: top;
        }
        .product-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 11%;
            .column {
                min-height: 30vh;
                border: 1px solid #000;
                &.left {
                    flex-basis: 13%;
                }
                &.middle {
                    flex-basis: 60%;
                }
                &.right {
                    flex-basis: 55%;
                }
            }
        }
    }    
}
