<section class="section page fourth" data-anchor="fourthPage">
  <div class="inner">
    <div class="slide" data-anchor="slide1">
      <div class="container">
        <h1 class="title">Product</h1>
        <div class="decoration-container">
          <span class="decoration-box upper"></span>
          <span class="decoration-box lower"></span>
        </div>
        <h2 class="subtitle">提供給您禾味最新消息及熱門資訊，快來看看有什麼新鮮事吧!</h2>
      </div>  
    </div>

    <div class="slide" data-anchor="slide2">
      <div class="columns-wrapper">
        <div class="column bg"></div>
        <div class="column first"></div>
        <div class="column second">
          <div class="inner">
            <h1 class="title">酒</h1>
            <p class="content">我們分別有全日本各地的日本酒、燒酒、啤酒、利口酒，各種品牌與酒造。<br><br>每一支酒都帶著各酒造精神與文化意義多層次的酒造組合，帶來不同文化，雖然都是日本酒，但會因為個地域的水質米種創造不同氣氛的日本酒口感，香氣、精神，由米開始的酒精變化，帶來多元多層次饗宴想必會帶來無比的火花。</p>
          </div>
        </div>      
        <div class="column third"></div>
        <div class="column fourth"></div>
      </div>                      
    </div>


    <div class="slide" data-anchor="slide3">
      <div class="basic-info">
        <h1 class="title">Product</h1>
        <h2 class="subtitle">酒造</h2>
      </div>
      <div class="product-container">
        <div class="column left">
          <h2 class="subtitle">山口酒造</h2>
          <p class="content">傳承古代酒製方法再加以最新的釀造技術，酒造的作品風格明顯，帶有年輕族群會喜愛的風味。在古時釀酒的時...</p>  
        </div>
        <div class="column right first">
          <div class="inner">
            <h1 class="title">山口酒造</h1>
          </div>
        </div>        
      </div>
      <div class="product-container">
        <div class="column left">
          <h2 class="subtitle">太田酒造</h2>
          <p class="content">三代將軍武士家族所傳承，其家族曾建造保存至今的江戶城。其"道灌"之名，已沿用十七代，乃當時受德川所賜名。</p> 
        </div>
        <div class="column right second">
          <div class="inner">
            <h1 class="title">太田酒造</h1>
          </div>
        </div>        
      </div>
      <div class="product-container">
        <div class="column left">
          <h2 class="subtitle">北村酒造</h2>
          <p class="content">在吉野櫻花的故鄉-奈良孕育出的酒造，藏人們以幾百年來的技術傳承，釀製出膾炙人口的美酒，更以杉木製成木桶，...</p>
        </div>
        <div class="column right third">
          <div class="inner">
            <h1 class="title">北村酒造</h1>
          </div>
        </div>        
      </div>
    </div>

    <div class="slide" data-anchor="slide4">
      <div class="product-container">
        <div class="column left"></div>
        <div class="column middle"></div>
        <div class="column right"></div>                
      </div>
    </div>                      
  </div>    
</section>



<%# <h1 class="title">Products</h1>
      <h2 class="subtitle">黑龍酒造</h2>
      <p class="content">在天寒地凍的地理環境，藏人們以無比的熱情所釀製出來的酒款<br>在每年的全日本百大青酒評鑑中，連續數年名列前三名。<br>數年前，二皇太子婚宴上的國宴用酒所選用的酒款「石田屋」即出自黑龍酒造。</p>
      <div class="logo"></div>      
      <div class="img-box"></div>
      <div class="decoration"></div>
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="image" style="background-image: url(../images/battle1.png);"></div>
        </div>
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
      </div> %>