<div class="popup-lnquiry-form is-active">
  <div class="container">
    <a hrep="#" class="popup-form-close">
      <span class="first same"></span>
      <span class="second same"></span>
    </a>
    <p class="content">此商品已加入詢價單</p>
    <div class="btn-group">
      <div class="btn-group-inner">
        <input type="submit" class="btn" value="繼續挑選">
        <input type="submit" class="btn" value="瀏覽詢價單">
      </div>
    </div>
    <div class="logo">
      <a href="https://www.sakaya.life/"></a>
    </div>
  </div>  
</div>