<div class="popup-contact-send-out is-active">
  <div class="container">
    <a hrep="#" class="popup-form-close">
      <span class="first same"></span>
      <span class="second same"></span>
    </a>
    <p class="content">諮詢單已經送出，<br>請耐心等候，謝謝。</p>
    <div class="logo">
      <a href="https://www.sakaya.life/"></a>
    </div>
  </div>
</div>