<div class="popup-contact">
  <div class="container">
    <a hrep="#" class="popup-form-close">
      <span class="first same"></span>
      <span class="second same"></span>
    </a>
    <h1 class="title">CONTACT US</h1>
    <h2 class="subtitle">聯繫我們</h2>
    <form action="" class="form">
      <input type="text" placeholder="餐飲相關產業名稱">
      <input type="text" placeholder="聯絡人">
      <input type="tel" placeholder="電話">
      <input type="email" placeholder="信箱">
      <textarea name="" id="" cols="30" rows="10" placeholder="訊息"></textarea>
      <div class="btn-group">
        <div class="btn-group-inner">
        <input type="submit" class="btn" value="送出">
        </div>
      </div>
    </form>
    <div class="info">
      <div class="info-name">零售請洽門市：SAKAYA</div>
      <div class="info-phone">
        <a href="tel:02-2712-6839">電話：02-2712-6839</a>
      </div>
      <div class="info-address">地址：台北市松山區敦化北路155巷6號之一</div>
      <div class="info-internet-site">
        <a href="https://www.sakaya.life/">線上購物：https://www.sakaya.life/</a>
      </div>
    </div>
    <div class="logo">
      <a href="https://www.sakaya.life/"></a>
    </div>
  </div>
</div>