<section class="section page second " data-anchor="secondPage">
  <div class="inner">
    <div class="slide" data-anchor="slide1">
      <h1 class="title">About</h1>
      <h2 class="subtitle">我們是一家由米為出發點的一家雜貨店，分別有-  「酒、美、食、器」的多元化商品可以選擇。</h2>      
      <div class="decoration-container">
        <span class="decoration-box upper"></span>
        <span class="decoration-box lower"></span>
      </div>
    </div>
    
    <div class="slide" data-anchor="slide2">
      <h1 class="title">About</h1>
      <h2 class="subtitle">關於<br>禾味國際</h2> 
      <p class="content">禾味國際是一間專業的日本酒與酒器、器皿、保養品的代理商。<br>與日本全國各地12間知名酒造合作，網羅了九州、中國、近畿、中部、關東縣各縣市地酒。<br>還有來自長崎縣的傳統手工有田燒與來自金澤福光屋酒造所研發的一系列由米製成的高保濕的保養品與乳酸飲料。<br><br>主要與餐飲與飯店業者合作，配送方式全程是以低溫冷藏車配送，為了就是要確保每一瓶酒送到客戶的手中都是最新鮮的。不只是在配送中講究對於酒的保存方式，公司也設置了三個大型依據每款酒所需求之溫的的冷藏櫃，所以客戶可以完全放心。我們從出貨到交貨都是要求最高品質，為了就是要將我們的專業與細心確切的傳送到每位尊貴的客戶。</p>         
      <div class="img-box"></div>
    </div> 
  </div>
</section>