<section class="section page sixth" data-anchor="sixthPage">
  <div class="inner">
    <div class="slide" data-anchor="slide1">
      <h1 class="title">Sitemap</h1>
      <div class="sitemap-container">
        <div class="column">
          <h1 class="title">About</h1>
          <ul class="list">
            <li class="item">
              <a href="#secondPage" class="link">關於禾味國際</a>
            </li>
          </ul>
          <h1 class="title margin-top">Relationship Company</h1>
          <li class="item">
            <li class="item">
              <a href="#"  class="link">Hana Bi はばび 日式 Tapas居酒屋<br>釜飯專門專門店  /  FB</a>
            </li>
            <li class="item">
              <a href="#"  class="link">SAKA.YA / FB</a>
            </li>
            <li class="item">
              <a href="#"  class="link">SAKA.YA / 線上購物</a>
            </li>
          </ul>
        </div>
        <div class="column">
          <h1 class="title">News</h1>
          <ul class="list">
            <li class="item">
              <a href="#" class="link">最新</a>
            </li>
            <li class="item">
              <a href="#" class="link">熱門</a>
            </li>
          </ul>
        </div>
        <div class="column">
          <h1 class="title">Product</h1>
          <div class="category">
            <a href="#" class="category-title">美</a>
            <ul class="list">
              <li class="item">
                <a class="link" href="#">item name</a>
              </li>
            </ul>
            <div class="decoration"></div>
          </div>
          <div class="category">
            <a href="#" class="category-title">酒</a>
            <div class="alcohol-container">
              <div class="column left">
                <a href="#" class="wine-making">酒造</a>
              </div>
              <div class="column right">
                <ul class="list">
                  <li class="item"><a href="#" class="link">黑龍酒造</a></li>
                  <li class="item"><a href="#" class="link">黑龍酒造</a></li>
                  <li class="item"><a href="#" class="link">太田酒造</a></li>
                  <li class="item"><a href="#" class="link">太田酒造</a></li>
                  <li class="item"><a href="#" class="link">山口酒造</a></li>
                  <li class="item"><a href="#" class="link">山口酒造</a></li>
                  <li class="item"><a href="#" class="link">黑龍酒造</a></li>
                  <li class="item"><a href="#" class="link">黑龍酒造</a></li>
                  <li class="item"><a href="#" class="link">太田酒造</a></li>
                  <li class="item"><a href="#" class="link">太田酒造</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>                
      </div>
    </div>

    <div class="slide" data-anchor="slide2">
      <h1 class="title">Sitemap</h1>
      <div class="sitemap-container">
        <div class="column">
          <div class="category">
            <div class="alcohol-container padding-top">
              <ul class="list">
                <li class="item"><a href="#" class="link">黑龍酒造</a></li>
                <li class="item"><a href="#" class="link">黑龍酒造</a></li>
                <li class="item"><a href="#" class="link">黑龍酒造</a></li>
                <li class="item"><a href="#" class="link">太田酒造</a></li>
                <li class="item"><a href="#" class="link">太田酒造</a></li>
                <li class="item"><a href="#" class="link">太田酒造</a></li>
                <li class="item"><a href="#" class="link">山口酒造</a></li>
                <li class="item"><a href="#" class="link">山口酒造</a></li>
                <li class="item"><a href="#" class="link">山口酒造</a></li>
                <li class="item"><a href="#" class="link">黑龍酒造</a></li>
                <li class="item"><a href="#" class="link">黑龍酒造</a></li>
                <li class="item"><a href="#" class="link">黑龍酒造</a></li>
                <li class="item"><a href="#" class="link">太田酒造</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="category">
            <div class="decoration margin-top"></div>
            <a href="#" class="category-title">食</a>
            <ul class="list">
              <li class="item">
                <a class="link" href="#">item name</a>
              </li>
              <li class="item">
                <a class="link" href="#">item name</a>
              </li>
            </ul>
          </div>
          <div class="category">
            <div class="decoration"></div>
            <a href="#" class="category-title">器</a>
            <ul class="list">
              <li class="item">
                <a class="link" href="#">item name</a>
              </li>
            </ul>
            <div class="decoration"></div>
          </div>
        </div>
        <div class="column">
          <h1 class="title">Lnquiry</h1>
          <ul class="list">
            <li class="item">
              <a href="#secondPage" class="link">詢價單</a>
            </li>
          </ul>
        </div>
      </div>   
    </div>    
  </div>
</section>