<section class="section page third" data-anchor="thirdPage">
  <div class="inner">
  
    <div class="slide" data-anchor="slide1">
      <h1 class="title">News</h1>
      <h2 class="subtitle">提供給您禾味最新消息及熱門資訊，快來看看有什麼新鮮事吧!</h2>               
      <div class="decoration-container">
        <span class="decoration-box upper"></span>
        <span class="decoration-box lower"></span>
      </div>
    </div>

    <div class="slide" data-anchor="slide2">
      <h1 class="title">News</h1>
      <div class="news-container">
        <div class="column left">
          <div class="basic-info">
            <span class="date">2017-08-18</span>
            <h2 class="title">福井縣 田邊酒造 大吟釀霈酒 懿720ml到貨！</h2>
          </div>  
          <p class="content">「 霈酒 」指的是成熟後的酒，袋吊取酒使其一滴滴自然滴落而下，酒質珍貴如水晶般，開瓶即能感受封藏大吟釀的極致果...</p>
          <div class="readmore">Read More</div>  
          <div class="img-box"></div>
        </div>
        <div class="column right">
          <div class="basic-info">
            <span class="date">2017-08-18</span>     
            <h2 class="title">長野縣 宮版釀造</h2>
          </div>  
          <p class="content">真澄 純米大吟釀 夢殿  (限定版)  720ml。真澄純米系列最高峰作品。口味極具層次，並帶有清新的果香。</p>
          <div class="readmore" style="margin-top: 8.2%;">Read More</div>
          <div class="img-box"></div>                                                                 
        </div>        
      </div>
    </div>

    <div class="slide" data-anchor="slide3">
      <h1 class="title">News</h1>
      <h2 class="subtitle">福井縣 田邊酒造 大吟釀霈<br>酒 懿720ml到貨！</h2>
      <p class="content">「 霈酒 」指的是成熟後的酒，袋吊取酒使其一滴滴自然滴落而下，酒質珍貴如水晶般，開瓶即能感受封藏大吟釀的極致果<br>「 霈酒 」指的是成熟後的酒，袋吊取酒使其一滴滴自然滴落而下，酒質珍貴如水晶般，開瓶即能感受封藏大吟釀的極致果<br>「 霈酒 」指的是成熟後的酒，袋吊取酒使其一滴滴自然滴落而下，酒質珍貴如水晶般，開瓶即能感受封藏大吟釀的極致果<br>「 霈酒 」指的是成熟後的酒，袋吊取酒使其一滴滴自然滴落而下，酒質珍貴如水晶般，開瓶即能</p>
      <div class="img-box"></div>    
      <span class="date">2017-08-18</span>
    </div>

  </div>    
</section> 