---
title: 美食、酒器
---
<div class="wrapper">
  <div id="fullpage">
    <%= partial 'first_page' %>
    <%= partial 'second_page' %>
    <%= partial 'third_page' %>
    <%= partial 'fourth_page' %> 
    <div class="section" data-anchor="fifthPage">
      <h1 style=color:rgba(81,58,36,100);text-shadow:none;top:0px;font-size:40px;>Lnquiry</h1>
      <div class="emptybox">
        <div class="emptybox-inner"></div>
      </div>
      <div class="u-p5-1">
         <p>詢價單目前是空的</p>       
      </div>
      <div class="decoration5"></div>
      <div class="btn">
        <div class="btn-inner">挑選去</div>
      </div>  
    </div>
    <div class="section" data-anchor="sixthPage">Some section6</div>
    <div class="section" data-anchor="seventhPage">Some section7</div>

    
  </div>

  <ul id="js-Menu" class="side-nav">
    <li data-menuanchor="firstPage" class="active">
      <a class="side-nav__item u-margin--top " href="#firstPage"><span>Top</span></a>
    </li>
      <li data-menuanchor="secondPage">
      <a class="side-nav__item" href="#secondPage"><span>About</span></a>
    </li>
      <li data-menuanchor="thirdPage">
      <a class="side-nav__item" href="#thirdPage"><span>News</span></a>
    </li>
      <li data-menuanchor="fourthPage">
      <a class="side-nav__item" href="#fourthPage"><span>Product</span></a>
    </li>
      <li data-menuanchor="fifthPage">
      <a class="side-nav__item" href="#fifthPage"><span>Lnquiry</span></a>
    </li>
      <li data-menuanchor="sixthPage">
      <a class="side-nav__item" href="#sixthPage"><span>Sitemap</span></a>
    </li>
      <li data-menuanchor="seventhPage">
      <a class="side-nav__item" href="#seventhPage"><span>Contact</span></a>
    </li>
    <div class="side-nav__social-bar">
      <div class="decoration1"></div>
      <div class="decoration2"></div>
      <a href="#" class="icon-btn">
	  	  <i class="icon fab fa-facebook-square"></i>
	  	</a>
	  	<a href="#" class="icon-btn">
	  	  <i class="icon fab fa-instagram"></i>
	  	</a>
	  	<a href="#" class="icon-btn">
	  	  <i class="icon fab fa-twitter-square"></i>
	  	</a>
    </div>
  </ul>
  
  
</div>
