---
title: 美食、酒器
---
<div class="wrapper">
  <div id="fullpage">
    <%= partial 'first_page' %>
    <%= partial 'second_page' %>
    <div class="section has-bg-image  u-bg--image3 third-page" data-anchor="thirdPage">
      <div class="slide" data-anchor="slide1">
        <h1>News</h1>
        <div class="decoration3">
	  	    <span class="decoration3__line1"></span>
	  	    <span class="decoration3__line2"></span>
	      </div>
        <div class="u-p2-1">
          <p>提供給您禾味最新消息及熱門資訊，快來看看有什麼新鮮事吧!</p>         
       </div>
      </div>
      <div class="slide" data-anchor="slide2">
        <div class="u-bg--color ">
          <h1><span>News</span></h1>
          <span class="date date-2">2017-08-18</span>
          <span class="date date-2 date-3">2017-08-18</span>
          <span class="title-2 title-3">福井縣 田邊酒造 大吟釀霈酒 懿720ml到貨！</span>
          <span class="title-2 title-3 title-4">長野縣 宮版釀造</span>
          <div class="u-p3-2">
            <p>「 霈酒 」指的是成熟後的酒，袋吊取酒使其一滴滴自然滴落而下，酒質珍貴如水晶般，開瓶即能感受封藏大吟釀的極致果...</p>
          </div>
          <div class="u-p3-2 u-p3-2__2">
            <p>真澄 純米大吟釀 夢殿  (限定版)  720ml。真澄純米系列最<br>高峰作品。口味極具層次，並帶有清新的果香。</p>
          </div>
          <span class="readmore">Read More</span>
          <span class="readmore readmore-2">Read More</span>          
          <div class="decoration6"></div>
          <div class="decoration6 decoration6-2"></div>          
          <div class="imgbox-2">
            <div class="imgbox-inner-3">
            </div>
          </div>
          <div class="imgbox-2 imgbox-2__2">
            <div class="imgbox-inner-4"></div>
          </div>  
        </div>
      </div>   
      <div class="slide" data-anchor="slide3">
        <div class="u-bg--color">
          <h1><span>News</span></h1>
          <span class="date">2017-08-18</span>
          <span class="title-2">福井縣 田邊酒造 大吟釀霈<br>酒 懿720ml到貨！</span>
          <div class="u-p3-3">
            <p>「 霈酒 」指的是成熟後的酒，袋吊取酒使其一滴滴自然滴落而下，酒質珍貴如水晶般，開瓶即能感受封藏大吟釀的極致果<br>「 霈酒 」指的是成熟後的酒，袋吊取酒使其一滴滴自然滴落而下，酒質珍貴如水晶般，開瓶即能感受封藏大吟釀的極致果<br>「 霈酒 」指的是成熟後的酒，袋吊取酒使其一滴滴自然滴落而下，酒質珍貴如水晶般，開瓶即能感受封藏大吟釀的極致果<br>「 霈酒 」指的是成熟後的酒，袋吊取酒使其一滴滴自然滴落而下，酒質珍貴如水晶般，開瓶即能感受封藏大吟釀的極致果<br></p>
          </div> 
          <div class="imgbox">
            <div class="imgbox-inner imgbox-inner-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section has-bg-image u-bg--image4" data-anchor="fourthPage">
       <h1>Products</h1>
       <div class="decoration3 decoration3-2">
	  	   <span class="decoration3__line1"></span>
	  	   <span class="decoration3__line2"></span>
	     </div>
       <div class="u-p2-1">
         <p>提供給您禾味最新消息及熱門資訊，快來看看有什麼新鮮事吧!</p>         
       </div>
    </div>
    <div class="section" data-anchor="fifthPage">
      <h1 style=color:rgba(81,58,36,100);text-shadow:none;top:0px;font-size:40px;>Lnquiry</h1>
      <div class="emptybox">
        <div class="emptybox-inner"></div>
      </div>
      <div class="u-p5-1">
         <p>詢價單目前是空的</p>       
      </div>
      <div class="decoration5"></div>
      <div class="btn">
        <div class="btn-inner">挑選去</div>
      </div>  
    </div>
    <div class="section" data-anchor="sixthPage">Some section6</div>
    <div class="section" data-anchor="seventhPage">Some section7</div>
  </div>

  <ul id="js-Menu" class="side-nav">
    <li data-menuanchor="firstPage" class="active">
      <a class="side-nav__item u-margin--top " href="#firstPage"><span>Top</span></a>
    </li>
      <li data-menuanchor="secondPage">
      <a class="side-nav__item" href="#secondPage"><span>About</span></a>
    </li>
      <li data-menuanchor="thirdPage">
      <a class="side-nav__item" href="#thirdPage"><span>News</span></a>
    </li>
      <li data-menuanchor="fourthPage">
      <a class="side-nav__item" href="#fourthPage"><span>Product</span></a>
    </li>
      <li data-menuanchor="fifthPage">
      <a class="side-nav__item" href="#fifthPage"><span>Lnquiry</span></a>
    </li>
      <li data-menuanchor="sixthPage">
      <a class="side-nav__item" href="#sixthPage"><span>Sitemap</span></a>
    </li>
      <li data-menuanchor="seventhPage">
      <a class="side-nav__item" href="#seventhPage"><span>Contact</span></a>
    </li>
    <div class="decoration1"></div>
    <div class="decoration2"></div>
    <div class="side-nav__social-bar">
      <a href="#" class="icon-btn">
	  	  <i class="icon fab fa-facebook-square"></i>
	  	</a>
	  	<a href="#" class="icon-btn">
	  	  <i class="icon fab fa-instagram"></i>
	  	</a>
	  	<a href="#" class="icon-btn">
	  	  <i class="icon fab fa-twitter-square"></i>
	  	</a>
    </div>
  </ul>
  
  
</div>
